<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semua Komik Populer</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Semua Komik Populer</h1>
        <div class="latest-list">
            {% for komik in komik_data %}
            <div class="komik-item">
                <img src="{{ komik.image }}" alt="{{ komik.title }}">
                <div>
                    <h3><a href="{{ komik.link }}" target="_blank">{{ komik.title }}</a></h3>
                    <p>Chapter: {{ komik.chapter }}</p>
                    <p>Rating: {{ komik.score }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>